n8n/workflows/forge-self-heal.json
{
  "name": "jarvis-forge-self-heal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "h1",
      "name": "Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://forge.grizzlymedicine.icu/healthz",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "h2",
      "name": "Probe Forge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Probe Forge\"].json[\"statusCode\"] || 0}}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "id": "h3",
      "name": "Unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.grizzlymedicine.icu/jarvis-forge",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "Forge health probe failed — attempting restart"
      },
      "id": "h4",
      "name": "Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://delta.grizzlymedicine.icu/api/forge/restart",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env[\"JARVIS_DELTA_ADMIN_TOKEN\"]}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "h5",
      "name": "Restart Forge Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        220
      ]
    }
  ],
  "connections": {
    "Every 10 min": {
      "main": [
        [
          {
            "node": "Probe Forge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe Forge": {
      "main": [
        [
          {
            "node": "Unhealthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unhealthy?": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify": {
      "main": [
        [
          {
            "node": "Restart Forge Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "c59be212-9eef-41c4-9db0-c1cac1ba0386"
}
