n8n/workflows/ha-call-service.json
{
  "name": "jarvis-ha-call-service",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis/ha/call-service",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "jarvis-ha-call-service"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.7.199:8123/api/services/{{$json.domain}}/{{$json.service}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{$json.data || {}}}",
        "options": {}
      },
      "id": "c2",
      "name": "HA Call Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ha-bearer",
          "name": "Home Assistant Bearer"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "status", "value": "ok"}
          ]
        },
        "options": {}
      },
      "id": "c3",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "HA Call Service", "type": "main", "index": 0}]]},
    "HA Call Service": {"main": [[{"node": "Set Response", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["jarvis", "ha"]
}
