n8n/workflows/ha-call-service.json
{
  "name": "jarvis-ha-call-service",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis/ha/call-service",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "jarvis-ha-call-service"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.HA_URL}}/api/services/{{$json.body.domain}}/{{$json.body.service}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.HA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.data || {}) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c2",
      "name": "HA Call Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "alwaysOutputData": true,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "c3",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HA Call Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA Call Service": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "f91d4342-9617-4860-9275-aec70b74bbd8"
}