n8n/workflows/mesh-display-broadcast.json
{
  "name": "jarvis-mesh-display-broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis/mesh-display/broadcast",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "m1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "jarvis-mesh-display-broadcast"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.4.100:{{$env.MESH_DISPLAY_PORT}}/display",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MESH_DISPLAY_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || {}) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "m2",
      "name": "Alpha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.4.151:{{$env.MESH_DISPLAY_PORT}}/display",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MESH_DISPLAY_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || {}) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "m3",
      "name": "Beta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "m4",
      "name": "Respond",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Alpha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Beta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpha": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beta": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "7e34ad6f-a5b6-41aa-803d-2be1b964c7c1"
}
