n8n/workflows/scene-downstairs-on.json
{
  "name": "jarvis-scene-downstairs-on",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis/scene/downstairs-on",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "s1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "jarvis-scene-downstairs-on"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.HA_URL}}/api/services/light/turn_on",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.HA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"group.downstairs_lights\",\n  \"brightness_pct\": {{ ($json.body && $json.body.brightness) || 80 }}\n}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s2",
      "name": "Turn On Lights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ok"
            },
            {
              "name": "scene",
              "value": "downstairs-on"
            }
          ]
        },
        "options": {}
      },
      "id": "s3",
      "name": "Respond",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Turn On Lights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn On Lights": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "7742c36e-e157-4bd8-892b-951224edabcd"
}
